<section id="service" class="pattern-style-4 has-overlay">
    <div class="container raise-2">
        <h6 class="section-subtitle text-center">Featured Food</h6>
        <h3 class="section-title mb-6 pb-3 text-center">Lecup Highlights</h3>
        <div class="row">
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/tea.jpeg" alt="tea">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Tea</h5>
                            <p class="float-right text-primary">Rs.10 onwards</p>
                        </div>
                        <div class="body">
                            <p>"A classic black tea infused with the distinctive aroma of bergamot, offering a fragrant and slightly citrusy flavor."</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="javascrip:void(0)" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/coffee.jpeg" alt="juice">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Coffee</h5>
                            <p class="float-right text-primary">Rs.20 onwards</p>
                        </div>
                        <div class="body">
                            <p>"A strong and rich coffee shot, perfect for a quick caffeine boost."</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/juice.jpeg" alt="JUICE">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Juice</h5>
                            <p class="float-right text-primary">Rs.60 onwards</p>
                        </div>
                        <div class="body">
                            <p>"A healthy and invigorating juice with a naturally sweet and earthy flavor."</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/shakes.jpeg" alt="SHAKES">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Milk Shakes</h5>
                            <p class="float-right text-primary">Rs.70 onwards</p>
                        </div>
                        <div class="body">
                            <p>"A creamy and smooth milkshake made with rich ice creams and fresh milk."</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/mojito.jpeg" alt="mojitos">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Mojito</h5>
                            <p class="float-right text-primary">Rs.80 onwards</p>
                        </div>
                        <div class="body">
                            <p>" A refreshing blend of fresh mint or fruits pulp, sugar, and soda water, garnished with a mint sprig.
                                "</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                        <img src="../../../assets/lemonade.jpeg" alt="lemonade">
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">Lemonade</h5>
                            <p class="float-right text-primary">Rs.20 onwards</p>
                        </div>
                        <div class="body">
                            <p>" A refreshing blend of freshly squeezed lemons, water, and sugar, perfect for quenching your thirst."</p>
                        </div>
                    </div>
                </a></div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                     <div class="img-holder">
                        <img src="../../../assets/icecream.jpeg" alt="ice cream">
                        </div>
                        <div class="info">
                            <div class="head clearfix">
                                <h5 class="title float-left">ice cream</h5>
                                <p class="float-right text-primary">Rs.80 onwards</p>
                            </div>
                            <div class="body">
                                <p>"Classic and creamy with real vanilla bean flecks for a rich, authentic flavor."</p>
                            </div>
                        </div>
                    </a></div>
            <div class="col-md-6 mb-4">
                <a href="" class="custom-list">
                    <div class="img-holder">
                            <img src="../../../assets/falooda.jpeg" alt="falooda">
                            </div>
                            <div class="info">
                                <div class="head clearfix">
                                    <h5 class="title float-left">Falooda</h5>
                                    <p class="float-right text-primary">Rs.90 onwards</p>
                                </div>
                                <div class="body">
                                    <p>"A refreshing dessert drink made with rose syrup, vermicelli, sweet basil seeds, and milk, topped with a scoop of your favorite ice cream."</p>
                                </div>
                         </div>
                </a></div>   
            <div class="col-md-6 mb-4">
                    <a href="" class="custom-list">
                        <div class="img-holder">
                                <img src="../../../assets/burger.jpeg" alt="burger">
                                </div>
                                <div class="info">
                                    <div class="head clearfix">
                                        <h5 class="title float-left">Burgers</h5>
                                        <p class="float-right text-primary">Rs.70 onwards</p>
                                    </div>
                                    <div class="body">
                                        <p>"A juicy beef patty topped with melted cheese, lettuce, tomato, and pickles, served on a toasted bun."</p>
                                    </div>
                             </div>
                    </a></div>  
            <div class="col-md-6 mb-4">
                    <a href="" class="custom-list">
                        <div class="img-holder">
                                 <img src="../../../assets/sandwich.jpeg" alt="sandwitch">
                                    </div>
                                 <div class="info">
                                        <div class="head clearfix">
                                               <h5 class="title float-left">Sandwitches</h5>
                                               <p class="float-right text-primary">Rs.69 onwards</p>
                                                </div>
                                                <div class="body">
                                                    <p>" Crispy bacon, fresh lettuce, and juicy tomatoes sandwiched between two slices of toasted bread, with a smear of mayonnaise for added flavor."</p>
                                                </div>
                                        </div>
                                </a></div>  
                                
            <div class="col-md-6 mb-4">
                    <a href="" class="custom-list">
                     <div class="img-holder">
                          <img src="../../../assets/fries.jpeg" alt="fries">
                                </div>
                        <div class="info">
                            <div class="head clearfix">
                                   <h5 class="title float-left">Special Fries</h5>
                                        <p class="float-right text-primary">Rs.70 onwards</p>
                                       </div>
                                       <div class="body">
                                       <p>" Crispy on the outside, fluffy on the inside, these golden-brown fries are the perfect snack or side dish."</p>
                                           </div>
                                             </div>
                                        </a></div>  
            <div class="col-md-6 mb-4">
                 <a href="" class="custom-list">
                     <div class="img-holder">
                              <img src="../../../assets/pizza.jpg" alt="pizza">
                                                        </div>
                                 <div class="info">
                                     <div class="head clearfix">
                                         <h5 class="title float-left">Pizza</h5>
                                            <p class="float-right text-primary">Rs.140 onwards</p>
                                                </div>
                                            <div class="body">
                                            <p>"A classic pizza topped with tomato sauce, fresh mozzarella cheese, basil leaves, and a drizzle of olive oil.
                                                "</p>
                                         </div>
                                         </div>
                                     </a></div>  
        <div class="col-md-6 mb-4">
            <a href="" class="custom-list">
                <div class="img-holder">
                   <img src="../../../assets/pasta.jpeg" alt="pasta">
                                     </div>
                                    <div class="info">
                                    <div class="head clearfix">
                                    <h5 class="title float-left">pasta</h5>
                                    <p class="float-right text-primary">Rs.159 onwards</p>
                                             </div>
                                          <div class="body">
                                          <p>"Classic Italian pasta dish featuring al dente spaghetti noodles topped with a savory meat-based Bolognese sauce made with tomatoes, ground beef, and herbs."</p>
                                          </div>
                                          </div>
                                        </a></div>   
         <div class="col-md-6 mb-4">
            <a href="" class="custom-list">
               <div class="img-holder">
                <img src="../../../assets/salad.jpeg" alt="salads">
                     </div>
                       <div class="info">
                       <div class="head clearfix">
                       <h5 class="title float-left">salads</h5>
                           <p class="float-right text-primary">Rs.80 onwards</p>
                           </div>
                           <div class="body">
                           <p>" Crisp romaine lettuce tossed with creamy Caesar dressing, crunchy croutons, and grated Parmesan cheese, offering a classic and satisfying combination."</p>
                           </div>
                            </div>
                        </a></div>                                                            
                </div>                  
    </div>
</section>