<section id="service" class="pattern-style-4 has-overlay">
    <div class="container raise-2">
	<div class="row">
			<h1>keep in touch</h1>
	</div>
	<div class="row">
			<h4 style="text-align:center">We'd love to hear from you!</h4>
	</div>

	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">Send Message</div>
			</div>
	</div>
</div>
</section>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> <i>le_cup_cafe</i>  invites you to indulge in a moment
             of tranquility amidst the hustle and bustle of daily life. Whether you're a 
             regular patron or a first-time visitor, we look forward to welcoming you into 
             our vibrant community and sharing our passion for exceptional coffee, delicious
              food, and meaningful connections.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
            <li><a class="nav-link active" routerLink="/service">Services</a></li>
            <li><a class="nav-link active" routerLink="/menu">Menu</a></li>
            <li><a class="nav-link active" routerLink="/contact">Contacts</a></li>
          </ul>
        </div>
       </div>
      </div>
      <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by san 
       <a href="#"></a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><p class="whatsapp" href="">9544730910
              <i class="fab fa-whatsapp" style="font-size:40px;color:rgb(240, 241, 240);"></i></p>
            <li><p class="instagram" href="#">le_cup_cafe
              <i class="fab fa-instagram" style="font-size:40px;color:rgb(230, 229, 229);"></i></p></li>
            <li><p class="phone" href="#">9544730910
              <i class="fas fa-phone" style="font-size:30px;color:rgb(255, 255, 255);"></i></p></li>
          </ul>
        </div>
      </div>
    </div>
</footer> 