<section class="body  overlay">
<div class="container">
  <h1>Tea</h1>
  <div class="item">
    <p class="item_des">Black Tea</p>
    <p class="price">10.00</p>
  </div>
  <div class="item">
    <p class="item_des">Cardamom Black Tea</p>
    <p class="price">12.00</p>
  </div>
  <div class="item">
    <p class="item_des">Tea</p>
    <p class="price">15.00</p>
  </div>
 
  <div class="item">
    <p class="item_des">Nescafe</p>
    <p class="price">40.00</p>
  </div>
  <div class="item">
    <p class="item_des">Almond Milk</p>
    <p class="price">40.00</p>
  </div></div>

  <div class="container">
    <h1>Coffee</h1>
    <div class="item">
      <p class="item_des">Black coffee</p>
      <p class="price">10.00</p>
    </div>
    <div class="item">
      <p class="item_des">Cardamom coffee</p>
      <p class="price">12.00</p>
    </div></div>
    
    

  <div class="container">
    <h1>Juices</h1>
    <div class="item">
      <p class="item_des">Pineapple</p>
      <p class="price">60.00</p>
    </div>
    <div class="item">
      <p class="item_des">Grape</p>
      <p class="price">60.00</p>
    </div>
    <div class="item">
      <p class="item_des">Orange</p>
      <p class="price">60.00</p>
    </div>
    <div class="item">
      <p class="item_des">Papaya</p>
      <p class="price">60.00</p>
    </div></div>






    <div class="container">
      <h1>Milk Shakes</h1>
      <div class="item">
        <p class="item_des">Cold Coffee</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Oreo</p>
        <p class="price">80.00</p>
      </div>
      <div class="item">
        <p class="item_des">Snickers</p>
        <p class="price">90.00</p>
      </div></div>

      <div class="container">
        <h1>Icecream Shakes</h1>
        
      <div class="item">
        <p class="item_des">Vanilla</p>
        <p class="price">80.00</p>
      </div>
      <div class="item">
        <p class="item_des">Chocolate</p>
        <p class="price">90.00</p>
      </div>
      <div class="item">
        <p class="item_des">Butterscotch</p>
        <p class="price">90.00</p>
      </div>
      <div class="item">
        <p class="item_des">Pistachio</p>
        <p class="price">90.00</p>
      </div>
      <div class="item">
        <p class="item_des">Spanish Delight</p>
        <p class="price">90.00</p>
      </div></div>

      <div class="container">
        <h1>Fruit Shakes</h1>
        <div class="item">
        <p class="item_des">Apple</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Apple</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Chikoo</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Papaya</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Sharja</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Mango</p>
        <p class="price">80.00</p>
      </div>
      <div class="item">
        <p class="item_des">Dates</p>
        <p class="price">80.00</p>
      </div>
      <div class="item">
        <p class="item_des">Tender Coconut</p>
        <p class="price">80.00</p>
      </div>
      <div class="item">
        <p class="item_des">Cashew</p>
        <p class="price">90.00</p>
      </div>
      </div>
     
      <div class="container">
        <h1>Mojitos</h1>
        <div class="item">
        <p class="item_des">Green Apple</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Strawberry</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Blueocean</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Passion Fruit</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Watermelon</p>
        <p class="price">70.00</p>
      </div>
      <div class="item">
        <p class="item_des">Blueberry</p>
        <p class="price">70.00</p>
      </div></div>


<div class="container">
        <h1>Lemonade</h1>
        <div class="item">
            <p class="item_des">Fresh Lime</p>
            <p class="price">20.00</p>
          </div>
          <div class="item">
            <p class="item_des">Ginger Lime</p>
            <p class="price">25.00</p>
          </div>
          <div class="item">
            <p class="item_des">Mint Lime</p>
            <p class="price">30.00</p>
          </div>
          <div class="item">
            <p class="item_des">Pineapple Lime</p>
            <p class="price">40.00</p>
          </div>
          <div class="item">
            <p class="item_des">Blue Lime</p>
            <p class="price">40.00</p>
          </div>
          <div class="item">
            <p class="item_des">Mint Fizz</p>
            <p class="price">50.00</p>
          </div>
          <div class="item">
            <p class="item_des">Energy Booster</p>
            <p class="price">70.00</p>
          </div></div>
    
        
          <div class="container">
            <h1>  falooda</h1>
            <div class="item">
              <p class="item_des">Mumbai Rose Falooda</p>
              <p class="price">90.00</p>
          </div>
          <div class="item">
              <p class="item_des">Kesar Pistha</p>
              <p class="price">120.00</p>
          </div>
          <div class="item">
              <p class="item_des">Butter Scotch Falooda</p>
              <p class="price">140.00</p>
          </div>
          <div class="item">
              <p class="item_des">Choco Zilla</p>
              <p class="price">150.00</p>
          </div>
          <div class="item">
              <p class="item_des">Mango Passion</p>
              <p class="price">150.00</p>
          </div></div>
          <div class="container">
            <h1>pasta</h1>
            <div class="item">
              <p class="item_des">Classic Mac'n Cheese</p>
              <p class="price">159.00</p>
          </div>
          <div class="item">
              <p class="item_des">Pesto Pasta Veg</p>
              <p class="price">179.00</p>
          </div>
          <div class="item">
              <p class="item_des">White Sauce Chicken</p>
              <p class="price">199.00</p>
          </div>
          <div class="item">
              <p class="item_des">Penne Arrabbiata</p>
              <p class="price">199.00</p>
          </div>
          <div class="item">
              <p class="item_des">Jambalaya Prawns</p>
              <p class="price">259.00</p>
          </div></div>


           <div class="container">
            <h1>Burger</h1>
            <div class="item">
              <p class="item_des">Southest Veg Burger</p>
              <p class="price">70.00</p>
          </div>
          <div class="item">
              <p class="item_des">Cheasy Chikken Burger</p>
              <p class="price">99.00</p>
          </div>
          <div class="item">
              <p class="item_des">Zinger Burger</p>
              <p class="price">110.00</p>
          </div>
          <div class="item">
              <p class="item_des">Classic Chikken Burger</p>
              <p class="price">129.00</p>
          </div>
          <div class="item">
              <p class="item_des">Smash Beef Burger</p>
              <p class="price">140.00</p>
          </div>
          <div class="item">
              <p class="item_des">Double Chicken Burger</p>
              <p class="price">180.00</p>
          </div>
          <div class="item">
              <p class="item_des">Twins Meat Burger</p>
              <p class="price">190.00</p>
          </div></div>

          <div class="container">
            <h1>Sandwich</h1>
            <div class="item">
              <p class="item_des">Lecup Tower</p>
              <p class="price">240.00</p>
          </div>
          <div class="item">
              <p class="item_des">Aloo Tikka Sandwich</p>
              <p class="price">69.00</p>
          </div>
          <div class="item">
              <p class="item_des">ThymRost Chicken</p>
              <p class="price">110.00</p>
          </div>
          <div class="item">
              <p class="item_des">Chicken Juicy Sandwich</p>
              <p class="price">120.00</p>
          </div>
          <div class="item">
              <p class="item_des">Chicken Keema Roll</p>
              <p class="price">120.00</p>
          </div>
          <div class="item">
              <p class="item_des">BBQ Sandwich</p>
              <p class="price">130.00</p>
          </div>
          <div class="item">
              <p class="item_des">Beef Juicy Sandwich</p>
              <p class="price">140.00</p>
          </div></div>

          <div class="container">
            <h1>Sandwich</h1>
            <div class="item">
              <p class="item_des">Salt French Fries</p>
              <p class="price">70.00</p>
          </div>
          <div class="item">
              <p class="item_des">Pepper French Fries</p>
              <p class="price">80.00</p>
          </div>
          <div class="item">
              <p class="item_des">Spicy French Fries</p>
              <p class="price">80.00</p>
          </div>
          <div class="item">
              <p class="item_des">Oregano French Fries</p>
              <p class="price">80.00</p>
          </div>
          <div class="item">
              <p class="item_des">Peri Peri French Fries</p>
              <p class="price">90.00</p>
          </div>
          <div class="item">
              <p class="item_des">Masala French Fries</p>
              <p class="price">90.00</p>
          </div>
          <div class="item">
              <p class="item_des">XL Hot Fries</p>
              <p class="price">120.00</p>
          </div></div>

          <div class="container">
            <h1>salads</h1>
            <div class="item">
              <p class="item_des">Arabic Salad</p>
              <p class="price">80.00</p>
          </div>
          <div class="item">
              <p class="item_des">Mix Fruit Chat</p>
              <p class="price">80.00</p>
          </div>
          <div class="item">
              <p class="item_des">Taco Salad</p>
              <p class="price">90.00</p>
          </div>
          <div class="item">
              <p class="item_des">Avocado Salsa</p>
              <p class="price">110.00</p>
          </div>
          <div class="item">
              <p class="item_des">Caesar Salad Chikken</p>
              <p class="price">120.00</p>
          </div>
          <div class="item">
              <p class="item_des">Red Wine Salad</p>
              <p class="price">140.00</p>
          </div>
          
          </div>
          
          
          
          
          

          



