* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
.overlay {
  position: absolute;
 
  left: 0;
  right: 0;
  bottom: 100;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 700px;
  margin: 50px auto;
  padding: 50px;
  background-color: #000000bd;
}

.container h1 {
  margin-bottom: 5px;
  color: orange;
  text-transform: uppercase;
}

hr {
  border-top: 2px solid orange;
  margin-bottom: 30px;
}

.item h2 {
  color: orange;
}

.item p {
  display: inline-block;
}

.item_des {
  font-size: large;
  margin-bottom: 15px;
  color: bisque;
  width: 75%;
}

.price {
  text-align: right;
  width: 24%;
  font-weight: bolder;
  font-size: larger;
  border-bottom: 2px dotted white;
}
